# Ignore the following files (do not commit working files to repository)

# Ignore dynamic download files
# - downloads folder will be created automatically if it does not exist

/data-orig-process/downloads

# Ignore temporary files from editors

# vi/vim
*.swp
*.swo

# Office temporary files

*.tmp

# TSTool log files

*.log

# Word
#~$*.doc*
# Excel
#~$*.xls*
# PowerPoint
#~$*.ppt*
~$*
